[Unit]
Description=Web service for Laurabot integration
Requires=network.target
After=network.target

[Service]
WorkingDirectory=/root/web-service-flask
Environment="APP_CONFIG_FILE=/root/web-service-flask/config/production.py"
ExecStart=/usr/bin/python3 /root/web-service-flask/server.py
PIDFile=/var/run/web-service-flask.pid
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
